body {
	background-color: #348DD7;
	color: white;
}

.main {
	margin-top: 10%;
	text-align: center;
}

#clock {
	padding: 20px;
	font-size: 70px;		
}

.cold {
	background-color: #95A5A6;
}

.chilly {
	background-color: #1ABC9C;
}

.nice {
	background-color: #2980B9;
}

.warm {
	background-color: #E67E22;
}

.hot {
	background-color: #E74C3C;
}